@font-face {
    font-family: 'Lato' ;
    src: url("./../../fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: 'LatoItalic' ;
    src: url("./../../fonts/Lato-Italic.ttf");
}
@font-face {
    font-family: 'LatoBold' ;
    src: url("./../../fonts/Lato-Bold.ttf");
}