/* Слайдер */
// .slick-slider{}
/* Слайдер запущен */
// .slick-slider.slick-initialized{}
/* Слайдер с точками */
// .slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
// .slick-slide{}
/* Слайд активный (показывается) */
// .slick-slide.slick-active{}
/* Слайд основной */
// .slick-slide.slick-current{}
/* Слайд по центру */
// .slick-slide.slick-center{}
/* Клонированный слайд */
// .slick-slide.slick-cloned{}
/* Стрелка */
// .slick-arrow{}
/* Стрелка влево */
// .slick-arrow.slick-prev{}
/* Стрелка вправо */
// .slick-arrow.slick-next{}
/* Стрелка не активная */
// .slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 15px;   
}
.slick-dots li{
    &:not(:last-child) {
        margin-right: 9px;
    }
    
}
/* Активная точка */
.slick-dots li.slick-active button{
    background-color: #a9afb3;
    border: 0;
}
/* Элемент точки */
.slick-dots li button{
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: solid 1px #c8c8c8;
    background-color: transparent;
}