.block {
    text-align:  center;
    &__icon {
        margin-bottom: 34px;
    }

    &__title {
        font-size: 1.125rem;
        line-height: 189%;
        font-weight: 700;
        letter-spacing: 3.6px;
        text-align: center;
        color: #353738;
        text-transform: uppercase;
        margin-bottom: 25px;
        
    }

    &__text {
        line-height: 189%;
        color: #848789;
        font-size: 1.125rem;
    }
}