.block {
    text-align:  center;
    &__icon {
        margin-bottom: 34px;
    }

    &__title {
        font-size: 1.125rem;
        line-height: 189%;
        font-weight: 700;
        letter-spacing: 3.6px;
        text-align: center;
        color: #353738;
        text-transform: uppercase;
        margin-bottom: 25px;
        
    }

    &__text {
        line-height: 189%;
        color: #848789;
        font-size: 1.125rem;

        &--justify {
            text-align: justify;
            font-size: 1rem;
            line-height: 188%;

            &::after {
                content: '';
                display: block;
                margin: 35px auto 0px ;
                width: 50px;
                height: 1px;
                background-color: #ebebeb;
            }
        }
    }

    @media screen and (max-width: 1500px) {
        &__text {
            &--justify {
                &::after {
                    margin: 20px auto 0px;
                }
            }
        }
        
    }
}